dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
*_flymake.*
.hsenv_*
dist_*
history
TAGS
.diagrams-cache
/cabal.sandbox.config
/cabal.config
/.cabal-sandbox/
\#*

*.dyn_hi
*.dyn_o

01/01
02/02
03/03
04/04
05/05
06/06
07/07
08/08
09/09
09/09b